#map {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: lightgrey;
}

.info-image {
  width: 150px;
}

p {
  font-family: "Open Sans", sans-serif;
  color: black;
}

h2 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 25px;
}

.info h2 {
  font-size: 15px;
}

.loading-container {
  background-color: #0e061f;
  opacity: 0.9;
  min-width: 100%;
  min-height: 100%;
  display: block;
  position: fixed;
  text-align: center;
}

.loading-container p {
  color: white;
  font-size: 20px;
  text-align: centre;
}
