@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab");

body {
  overflow: hidden;
}
.menu-title {
  font-size: 30px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 100;
  color: white;
  text-align: left;
  margin-left: 30px;
  letter-spacing: 0.1em;
}

.SidebarContainer {
  background-color: #0e061f;
  width: 350px;
  position: absolute;
  z-index: 1;
  min-height: 100%;
  transition: 0.3s;
}

.menu-icon {
  width: 45px;
  float: right;
  margin-top: 30px;
  display: none;
}
.menu {
  width: 300px;
  position: absolute;
  overflow: auto;
}

input {
  margin: 30px 40px 30px 30px;
  border-radius: 4px;
  width: 200px;
  height: 25px;
  font-size: 15px;
  border: none;
  float: left;
}

ol {
  list-style: none;
  margin: 10px 10px 10px 0;
  padding-top: 10px;
  padding-left: 0;
}
.listing li {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 2em;
  text-align: left;
  padding-left: 30px;
}

.listing li:hover {
  color: #ea3d3d;
}

.listing {
  height: 700px;
}

.credit {
  position: fixed;
  bottom: 0;
  color: white;
  margin-left: 30px;
  background-color: #0e061f;
  width: 300px;
  text-align: left;
}

.credit p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 8px;
  letter-spacing: 0.2em;
}

a {
  color: white;
}

@media only screen and (max-width: 750px) {
  .SidebarContainer.hidden {
    transform: translateX(calc(-100% + 50px));
  }

  .menu-icon {
    width: 45px;
    float: right;
    margin-top: 30px;
    display: block;
  }
}

h3 {
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  color: white;
  padding-left: 30px;
  padding-bottom: 0;
}
