@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab");

h1 {
  font-size: 30px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 100;
  color: white;
  text-align: left;
  margin-left: 30px;
  letter-spacing: 0.1em;
}

.SidebarContainer {
  background-color: #0e061f;
  width: 350px;
  position: absolute;
  z-index: 1;
  min-height: 100%;
  transition: 0.3s;
}

.SidebarContainer.hidden {
  transform: translateX(calc(-100% + 50px));
}

.menu-icon {
  width: 45px;
  float: right;
  margin-top: 30px;
}
.menu {
  width: 300px;
  position: absolute;
}

input {
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 200px;
  height: 25px;
  font-size: 15px;
  border: none;
  float: left;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.listing li {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  font-size: 15px;
  line-height: 2em;
  text-align: left;
  padding-left: 30px;
}
